section#introduction.intro
  .inside-container
    img.img-dd.right(src="assets/images/DD_pixal.jpg" onMouseOver="MouseRollover(this)" onMouseOut="MouseOut(this)")
    script.
      function MouseRollover(MyImage) {
        MyImage.src = "assets/images/DD_nopixal.jpg";
      }
      function MouseOut(MyImage) {
        MyImage.src = "assets/images/DD_pixal.jpg";
      }
    .copy
      h4 Hello
      p I'm David. Unfortunately, I must begin our acquaintance with an apology. My pixels have taken it upon themselves to obscure my likeness. You see, my pixels are very limited in their abilities and are madly jealous-- they are only capable of giving answers.
      p You're in luck however because I am human. I know this because I like to ask questions. Questions about you, your goals, and beyond. I'll ask questions that challenge assumptions, spark neurons, and spawn ideas--ideas that resonate with your audience and create value that goes beyond the digits in your budget.
      p Give me a call, we'll discuss what is possible--human to human.

section#questions.questions
  .inside-container
    .col.one-third
      h4 What I Do
      p People often ask me if I’m a web designer or print designer. Although I can do both, my primary focus is that of a communicator. Let’s discover a concept that champions your message, and I’ll amplify it through design—making the most out of the delivery you choose.
    .col.one-third.borders
      h4 How We Do It
      p 1) We’ll ask each other questions to learn more and to get a feel for the collaborative relationship to follow. If we wish to proceed, an agreement will be signed with milestones to keep us on track. I’ll also ask you to ﬁll out a creative brief questionaire, which crystalizes the objectives, gives me a sense of the big picture—ensuring we make the most of our time.
      p 2) Next, I start digging. What I’m looking for is the strongest link between you or your product and your audience.
      p 3) With this essential truth revealed, it becomes the guide for ideas I will develop through research, exploration, and open communication with you. It’s this informed approach that leads to design solutions that resonate with your audience as relevant and memorable because it speaks to them on a emotional level.
      p 4) After a couple rounds of reﬁnement, it is time to put our ideas into action. Let’s revel in this moment.
    .col.one-third
      h4 Why Do It
      p With fresh new branding, a website, or promotional piece at hand, you can now face the world with conﬁdence in how you are represented. Likewise, your audience will recognise you as trustworthy, worth their time and perhaps their money.

section#aboutdavid.about
  .inside-container
    img.img-dd.right(src="assets/images/daddy.png", alt="daddy")
    .copy
      h4 About David
      p David grew up in a small town called Homer in central New York in an old home with a big backyard that oﬀered plenty of room to grow an imagination. Thanks to encouragement from his parents amd his art teachers, David realized he had a penchant for creativity. As a teen, David attained a summer job at a small packaging company doing mechanical paste-up where he fell in love with a wax machine. However, the seductive power of the Mac II in the next cubicle would prove to be too enticing.

section#timeline.timeline
  .inside-container
    h4 TIMELINE
    .col.one-third
      img.deasy-img.ltl-david(src="assets/images/Ltl_david.jpg")
      .arrow-ltl-david
    .col.one-third.borders
      .timeline-entry
        h5 1978
        p At the age of 5 David in rushed to the hospital with cherry pits stuck in his ears. after reﬂecting on his life thus far, David decides he has to get his act together and picks up a crayon (for coloring)
    .col.one-third.one-third-offset.borders
      .timeline-entry
        h5 1989
        p David gets a summer job at Marietta Corp. doing mechanical paste-up
      .timeline-entry
        h5 1991
        p David attends Buﬀalo State College to pursue a degree in Design
    .col.one-third.one-third-offset.borders
      .timeline-entry
        h5 1996
        p David lands a job in NYC at a small publishing company called American Showcase with this nifty little self promo.
    .col.one-third.designer-dave
      img.deasy-img(src="assets/images/Untitled-1.jpg")
      .arrow-designer-dave
    .col.one-third
      img.deasy-img.cheerios(src="assets/images/cheerios1.png")
      .arrow-cheerios
    .col.one-third.borders
      .timeline-entry
        h5 1997
        p David enrolls in classes at the School of Visual Arts after realizing his education as a designer is never really over.
      .timeline-entry
        h5 1998
        p David takes a job at Condé Nast’s Mademoiselle magazine. In 2000, after 65 years as one of America’s premier fashion/lifestyle magazine, it goes under due to .com fantasies.
    .col.one-third
      img.deasy-img.mademoiselle-offset(src="assets/images/mademoisell.jpg")
      .arrow-mademoiselle
    .col.one-third.one-third-offset.borders
      .timeline-entry
        h5 2000
        p David takes a job at a .com called boutiqueY3K. 10 months later it goes under due to .com realities.
      .timeline-entry
        h5 2001
        p David meets a beautiful french girl and asks her to marry him.
      .timeline-entry
        h5 2001
        p David takes a job at Time Inc.’s newest title, Teen People magazine. Although this magazine was the most successful launch in Time Inc.’s history, it goes under a few years later due to the changing media landscape.

        .row
          .col-sm-4
            img.deasy-img.emma(src="assets/images/emma.jpg")
            .arrow-paul
          .col-sm-4.timeline-copy
            .timeline-entry
              h5 2005
              p David and that beautiful french girl decide to move out of the city to start a family and end up in Greensboro, NC. David takes a job at another publishing company. Later that year, Emma is born!
            .timeline-entry
              h5 2008
              p Paul is born!
            .timeline-entry
              h5 2009
              p David heads out on his own with ideas for making a greater impact for clients. Present You visit David’s web site and are considering getting in touch. Here’s my business card.
            .timeline-entry
              h5 Present
              p You visit David’s web site and are considering getting in touch. Here’s my business card.
              img.deasy-img(src="assets/images/")
          .col-sm-4
            img.deasy-img.paul(src="assets/images/paul.jpg")
            .arrow-emma

section#testimonials.testimonials
    .row
      .col-sm-7.col-sm-offset-1
        h4 Testimonials

        p “I can't say enough good things about working with David. He will challenge you to really understand and precisely hone your message, and may even help you to say it clearly for the ﬁrst time. And then he will develop eye-grabbing visuals that convey that message to the appropriate audience. He listens, really gets what "makes you you," and puts it all in pithy, attractive package. And he is easy to work with!”
        p.title —Rob Kaiser, President at Kaiser Leadership Solutions
      .col-sm-3
        img.deasy-img.circle(src="assets/images/testimonials/RobKaiser.jpg")

    .row.sub-testimonials
      .col-sm-7.col-sm-offset-1

        .row
          .col-sm-3
            img.deasy-img.circle(src="assets/images/testimonials/Darren.jpg")
          .col-sm-8
            p “I knew from viewing David’s portfolio that he is a talented designer. What most impressed me was how quickly he “got it”. Following a brief conversation, David came up with two prototypes that clearly demonstrated an understanding of what I wanted to accomplish. David has been an excellent partner. He’s talented, responsive, and easy to work with.”
            p.title —Darren Overﬁeld, President, Overﬁeld Leadership Group

        .row
          .col-sm-4
            img.deasy-img.circle(src="assets/images/testimonials/adam.jpg")
          .col-sm-8
            p “We hired David to design a range of items from our business cards and website to backdrops & sets for network level productions, and even photobooths. The business cards he designed, at the companies inception, helped us establish ourselves as a high end, creative boutique with new and existing clients, we still get compliments on them years later. Dave's creativity, versatility and vision has enabled us to deliver on time, on budget and above expectations every time. I never hesitate to recommend Dave to clients and colleagues. He's among the best of the best.”
            p.title —Adam Corey, Founder, DC Collective

        .row
          .col-sm-4
            img.deasy-img.circle(src="assets/images/testimonials/DavidB.jpg")
          .col-sm-8
            p “David is an excellent graphic artist, with a keen eye, and an ability to take a verbalized idea and turn it into reality. We hired David to design our season brochure, posters and ad campaign, what we got was brilliant, well thought out, and engaging. I recommend Deasy Designs for any project, large or small. He's easy to work with, creative and a very good listener.”
            p.title — David Briggs, Theatre Director at City of High Point, NC

        .row
          .col-sm-4

          .col-sm-8
            p “I hired David for a quick project and found him to be incredibly creative and solution-oriented. We then brought him back to work on a huge 2 month project that involved 14 separate spread ads (amongst other projects). David coordinated with a photo editor for the shoots, worked closely with the copywriter and did all of the production. All with a smile. David is a quick study and understands communication goals. His creativity and design sensibilities are top drawer. I cannot recommend David more enthusiastically – I also happen to think he is a great person.”
            p.title Chris Denney, Vice President/Creative & Interactive Services at Imre

        .row
          .col-sm-4
          .col-sm-8
            p “I challenged David on our ﬁrst project together with an impossible deadline and total lack of concept. I am still amazed at how well the ﬁnal product looks and that we delivered on time. He will be at the top of my list for future projects.
            p.title —Ann Clepper, Marketing Manager at Legacy Classic Furniture

      .col-sm-3.border-left
        .padded-left
          p “David is thoughtful and creative in his approach to projects. His focus on every detail, while maintainingperspective on the project's overall objectives, is valuable. I look forward to working with him again.”
          p.title —Ian Joyce, Principal of August Communication Consultants. Strategist. Writer. Do-Gooder.

          p “The level of any project is elevated when we work with David. He can take limited direction and always come up with something I wish I had thought of.”
          p.title —Gary Thompson Principal, Thompson Creative

          p “During our time working together at Teen People, David consistently delivered creative well thought out designs. David is a seasoned creative professional and a great partner. He has a keen eye for design and is extremely organized, deadline-oriented, and dedicated to his work. He is a pleasure to work with and I am happy to recommend him for future positions.”
          p.title —Stacey Greenman, Managing Director, Corporate Marketing at Meredith Corporation

          p “David is a wonderfully talented individual. He has demonstrated out of the box thinking to meet client needs or, even better, anticipated what they didn't even know they were looking for! It was a pleasure working with him at BY3K. He operated under pressure and always understood time constrains. I can recommend David without hesitation, he will be a great asset to any company”
          p.title —Tanya Le Bras Brown, Owner, MaisonLBB.com

          p “David’s work is creative on on point with the client's needs. He communicates well and works eﬃciently. David is able to work independently or as part of a team. Great asset to your project!”
          p.title —Lynn Tutterow, Associate Publisher at Our State Magazine

section.parallaxscroll
  .parallaxscroll-4
  .parallaxscroll-3(data-0="background-position: 0 -500px;" data-end="background-position: 0 100px;")
  .parallaxscroll-2(data-0="background-position: 0 -5200px;" data-end="background-position: 0 0;")
  .parallaxscroll-1(data-0="background-position: 0 -3600px;" data-end="background-position: 0 -200px;")


section#contact.contact

    .row
      .col-sm-7.col-sm-offset-1
        h3 Get in Touch
        .row
          .form
            .col-sm-6
              .form-group
                label Your Name
                input.form-control(type="text")
            .col-sm-6
              .form-group
                label Email Address
                input.form-control(type="text")
            .col-sm-12
              .form-group
                label Message
                textarea.form-control()
              .btn.btn-default.btn-black Send

        .col-sm-12
          hr

          p Thank you for visiting my site. If we work together, you’ll ﬁnd that I’m a real person who understands that you are too. Let’s discuss what is possible—human to human.
          p Sincerely,
