header
  .dlogo-wrap
    span.phone <a title="phone" href="tel:336-847-1441">336-847-1441</a> | david@deasydesign.com
    .dlogo
  .deasy-header(role="navigation", data-0="margin-top: 70px;", data-215="margin-top: 0;")
    .container.container-borders.header-borders
      .dd-head
        a.header-deasy(href="/", data-0="font-size: 80px; text-align:center; margin-left: 28%;", data-130="font-size:50px; text-align:left;margin-left: 1%;") Deasy
        a.header-design(href="/design", data-0="font-size: 80px; text-align:center;", data-130="font-size:50px; text-align:left;") Design
        span.details(data-110="opacity: 0", data-130="opacity: 1")  <a title="phone" href="tel:336-847-1441">336-847-1441</a> | david@deasydesign.com
      .social-icons(data-0="opacity: 1", data-130="opacity: 0")
        .icon-row
          a.icon-first.linkedin(href="#")
          a.icon-second.behance(href="#")
        .icon-row
          a.icon-second.mail(href="#")
          a.icon-second.pinterest(href="#")
        .icon-row
          a.icon-first.facebook(href="#")
          a.icon-first.twitter(href="#")
      .social-icons(data-0="opacity: 0", data-130="opacity: 1")
        .icon-row
          a.icon-first.twitter(href="#")
          a.icon-first.linkedin(href="#")
          a.icon-second.behance(href="#")
        .icon-row
          a.icon-first.facebook(href="#")
          a.icon-second.mail(href="#")
          a.icon-second.pinterest(href="#")
      nav.main-nav
        ul
          li.active
            a(href="#introduction") An Awkward Introduction
          li |
          li
            a(href="#introduction") What, How, Why
          li |
          li
            a(href="#aboutdavid") About David
          li |
          li
            a(href="#testimonials") Testimonials
          li |
          li
            a(href="#contact") Get In Touch
